<!-- Codes by HTML.am -->
<style type="text/css" scoped>
.GeneratedText {
font-family:'Comic Sans MS';font-size:2em;letter-spacing:0.2em;line-height:1.3em;color:#FFFFFF;background-color:#000000;padding:1.5em;
}
</style>
